* {
  -moz-box-sizing: border-box; /* mozilla */
  -webkit-box-sizing: border-box; /* google chrome */
  box-sizing: border-box; /* Opera7, IE */
  -ms-box-sizing: border-box; /* IE8 */
  position: relative;
  font-family: Trebuchet MS, Helvetica, sans-serif;
}
a:link { text-decoration: none; color: blue }
a:visited { text-decoration: none; color: blue }
a:hover { text-decoration: underline; color: red }
a.link-external {
  background: url(../css/external.gif) no-repeat;
}
